@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html, body{
    font-family: 'Poppins';
    font-size: 13px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    /* overflow-x: hidden; */
    top: 0;
    left: 0;
}
a {
    text-decoration: none;
    color: rgba(34, 54, 69, .7);
    font-weight: 500;
}
a:hover{
    color: #e74c3c!important;
}
ul{
    list-style-type: none;
}
.navbar{
    background: white;
    /* padding: 2rem 1rem; */
    height: 0rem;
    min-height:12vh;
    -webkit-box-shadow: 5px 5px 15px 5px #fff; 
    box-shadow: 5px 5px 15px 5px #fff;;
}
.navbar-brand a{
    /* padding: 1rem 0; */
    display: block;
    text-decoration: non;
}
.navbar-brand{
    font-family: 'Pacifico';
    font-size: 2.5rem;
    color: #e74c3c!important;
}
.navbar-toggler {
    background: #e74c3c;
    border: none;
    padding: 10px 6px;
    outline: none;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}
.navbar-toggler span + span{
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}
.navbar-toggler span + span + span{
    width: 10px;
    margin-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 2rem 1.2rem;
    font-size: 1.4rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-bottom: 4px solid #e74c3c;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    border-bottom: 4px solid #e74c3c;
    color:  #e74c3c;
}
.navbar-nav button{
    padding: 1rem 0;
}
.navbar-nav .btn{
    background-color: #e74c3c;
    color: #fff;
    border-radius: 0;
    padding: 1em 1.5em;
    margin-top: 1px;
    font-size: 14px;
}
.navbar-nav .btn:hover{
    background-color: rgb(177, 7, 177);
}

/* styling the carousel */
.carousel-item{
    height: 89vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.2;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 80px;
    padding-right: 80px;
}
.carousel-item h5{
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
}
.carousel-caption p{
    font-size: 16px;
    top: 2rem;
}
.first-caption{
    font-family: 'Great Vibes';
    font-size: 4rem!important;
}
.slider-btn{
    margin-top: 30px;
}
.slider-btn .btn{
    background-color: #e74c3c;
    border-radius: 0;
    padding: 1.2rem 4rem;
    font-size: 1.2rem;
    color: white;
}